:root {

    /* Colors */

    --background: #FDFAF5;
    --foreground: #2C2416;

    --card: #FFFFFF;
    --card-foreground: #2C2416;

    --primary: #2D6A4F;
    --primary-foreground: #FFFFFF;

    --secondary: #f7f4f0;
    --secondary-foreground: #5C4A32;
    --secundary-foregraound2: #fbf6ef;

    --muted: #EDE5D5;
    --muted-foreground: #8A7A68;

    --accent: #C96A3E;
    --accent-foreground: #FFFFFF;

    --different-foreground: #cddad4;


    /* Others */

    --border: #E8DDD0;
    --ring: #2D6A4F;
    --radius: 14px;


    /* Fonts */

    --font-heading: "DM Serif Display", serif;
    --font-body: "Inter", sans-serif;


    /* Font sizes */

    --font-size-logo: 24px;
    --font-size-h1: 48px;
    --font-size-h2: 32px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
    --font-size-h5: 18px;
    --font-size-body: 16px;
    --font-size-small: 14px;

}

/* Menu */

.menu {

    background-color: var(--background);
    height: 60px;
    padding: 10px;
    border-bottom: 2px solid;
    border-color: var(--border);

}

.menu ul {

    display: flex;
    gap: 120px;

}

.menu li {

    list-style: none;

}

.menu li a {

    text-decoration: none;

}

/* Body */

body {

    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-body);
    font-size: var(--font-size-body);

}

/* Logo and BookSwap */

.book-swap {

    color: var(--foreground);
    font-family: var(--font-heading);
    font-size: var(--font-size-logo);

}


/* How it works link */

.menu-how-it-works {
    color: var(--muted-foreground);
}


/* Get Started button */

.get-started {

    background-color: var(--primary);
    color: var(--primary-foreground);
    border-radius: var(--radius);
    font-family: var(--font-body);
    border: none;

}


/* Sign In button */

.sign-in {

    background-color: var(--background);
    color: var(--foreground);
    border-radius: var(--radius);
    font-family: var(--font-body);
    border: none;

}


/* Main title */

.main-title {

    color: var(--primary);
    font-size: var(--font-size-h1);
    font-family: var(--font-heading);
    font-weight: 900;

}

/* Zero money subtitle*/

.zero-money {

    background-color: var(--different-foreground);
    color: var(--ring);
    font-size: var(--font-size-h5);
    font-family: var(--font-body);
    font-weight: 700;
    border-radius: var(--radius);

}


/* Start swapping button */

.start-swapping {

    background-color: var(--primary);
    color: var(--primary-foreground);
    border-radius: var(--radius);
    font-family: var(--font-body);
    border: none;
    padding: 12px 24px;
    margin-bottom: 20px;

}


/* How it works section */

.how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--secundary-foregraound2);
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: var(--border);
    
}

.how-it-works ol {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.how-it-works h2 {

    color: var(--foreground);
    font-family: var(--font-heading);
    font-size: var(--font-size-h2);

}

.how-it-works h5 {

    color: var(--muted-foreground);
    font-family: var(--font-body);
    font-size: var(--font-size-h5);

}


/* First swap button */

.first-swap {

    background-color: var(--primary);
    color: var(--primary-foreground);
    border-radius: var(--radius);
    border: none;
    padding: 12px 24px;

}

